In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv("dataset/Dataset pesticide and lung cancer.csv")
df.head()

,ID,LungCA,Gender,age,age_group,status,education,Occupation,Residency,Distances,...,Carbaryl_Savins_days,Carbofuran_use,Carbofuran_days,Abamectin_use,Abamectin_days,Armure_Propiconazole_use,Armure_Propiconazole_days,Metal_aldehyde_use,Metal_aldehyde_days,Morphology_Group
0,1.0,1,1,75,4,2,1,1,2,1,...,,0,,0,,0,,0,,1
1,1.1,0,1,70,3,2,1,1,3,1,...,,0,,0,,0,,0,,0
2,1.2,0,1,72,3,2,1,1,2,1,...,,0,,0,,0,,0,,0
3,2.0,1,0,58,2,2,1,1,3,1,...,,1,480,0,,0,,1,,2
4,2.1,0,0,55,2,2,1,1,3,1,...,,0,,0,,0,,0,,0

In [14]:
for i in range(df.shape[0]):
    if df.loc[i, 'ID'] % 1 == 0:
        df.loc[i, 'ID'] = True
    else:
        df.loc[i, 'ID'] = False

In [15]:
col = df.pop('ID')
df.insert(len(df.columns), 'ID', col)
print(df)

     LungCA  Gender  age  age_group  status  education  Occupation  Residency
0         1       1   75          4       2          1           1          2  \
1         0       1   70          3       2          1           1          3
2         0       1   72          3       2          1           1          2
3         1       0   58          2       2          1           1          3
4         0       0   55          2       2          1           1          3
..      ...     ...  ...        ...     ...        ...         ...        ...
675       0       0   71          3       2          1           1          3
676       0       1   75          4       2          1           1          3
677       1       0   67          3       2          1           1          3
678       0       0   62          2       2          1           2          1
679       0       0   72          3       2          1           2          3

     Distances  Cooking_fumes  ...  Carbofuran_use  Carbofuran_days
0            1              2  ...               0                   \
1            1              2  ...               0
2            1              2  ...               0
3            1              1  ...               1              480
4            1              1  ...               0
..         ...            ...  ...             ...              ...
675          1              2  ...               0
676          1              1  ...               0
677          1              2  ...               0
678          1              1  ...               0
679          3              2  ...               0

     Abamectin_use Abamectin_days  Armure_Propiconazole_use
0                0                                        0  \
1                0                                        0
2                0                                        0
3                0                                        0
4                0                                        0
..             ...            ...                       ...
675              0                                        0
676              0                                        0
677              1            360                         0
678              0                                        0
679              0                                        0

    Armure_Propiconazole_days  Metal_aldehyde_use  Metal_aldehyde_days
0                                               0                       \
1                                               0
2                                               0
3                                               1
4                                               0
..                        ...                 ...                  ...
675                                             0
676                                             0
677                                             0
678                                             0
679                                             0

    Morphology_Group     ID
0                  1   True
1                  0  False
2                  0  False
3                  2   True
4                  0  False
..               ...    ...
675                0  False
676                0  False
677                1   True
678                0  False
679                0  False

[680 rows x 68 columns]

In [16]:
df.rename(columns={'ID': 'class'})

,LungCA,Gender,age,age_group,status,education,Occupation,Residency,Distances,Cooking_fumes,...,Carbofuran_use,Carbofuran_days,Abamectin_use,Abamectin_days,Armure_Propiconazole_use,Armure_Propiconazole_days,Metal_aldehyde_use,Metal_aldehyde_days,Morphology_Group,class
0,1,1,75,4,2,1,1,2,1,2,...,0,,0,,0,,0,,1,True
1,0,1,70,3,2,1,1,3,1,2,...,0,,0,,0,,0,,0,False
2,0,1,72,3,2,1,1,2,1,2,...,0,,0,,0,,0,,0,False
3,1,0,58,2,2,1,1,3,1,1,...,1,480,0,,0,,1,,2,True
4,0,0,55,2,2,1,1,3,1,1,...,0,,0,,0,,0,,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675,0,0,71,3,2,1,1,3,1,2,...,0,,0,,0,,0,,0,False
676,0,1,75,4,2,1,1,3,1,1,...,0,,0,,0,,0,,0,False
677,1,0,67,3,2,1,1,3,1,2,...,0,,1,360,0,,0,,1,True
678,0,0,62,2,2,1,2,1,1,1,...,0,,0,,0,,0,,0,False
679,0,0,72,3,2,1,2,3,3,2,...,0,,0,,0,,0,,0,False

In [17]:
df.to_csv('Pre Processing/1.1.reformatClass.csv', index=False)

In [18]:
df = pd.read_csv("Pre Processing/1.1.reformatClass.csv")
df.head()

,LungCA,Gender,age,age_group,status,education,Occupation,Residency,Distances,Cooking_fumes,...,Carbofuran_use,Carbofuran_days,Abamectin_use,Abamectin_days,Armure_Propiconazole_use,Armure_Propiconazole_days,Metal_aldehyde_use,Metal_aldehyde_days,Morphology_Group,ID
0,1,1,75,4,2,1,1,2,1,2,...,0,,0,,0,,0,,1,True
1,0,1,70,3,2,1,1,3,1,2,...,0,,0,,0,,0,,0,False
2,0,1,72,3,2,1,1,2,1,2,...,0,,0,,0,,0,,0,False
3,1,0,58,2,2,1,1,3,1,1,...,1,480,0,,0,,1,,2,True
4,0,0,55,2,2,1,1,3,1,1,...,0,,0,,0,,0,,0,False